.redeemption-reward {
    padding-top: 30px;
    margin-left: 230px;
}

.redeemption-reward-row {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.redeemption-reward-item {
    width: 45%;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0px -4px 6px -3px rgba(151, 151, 151, .2), 0px 4px 6px rgba(140, 140, 140, .2);
}

.redeemption-reward-item .h2 {
    padding: 12px 24px;
    font-size: 30px;
    background-color: #04a6cf;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.redeemption-reward-content {
    background-color: #f4f4f4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.redeemption-reward-icon img {
    width: 250px;
    height: 250px;
}

.redeemption-reward-points {
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    background-color: #04a6cf;
    padding: 7px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.table-container {
    padding: 50px;
    margin: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 30px;
}

table {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.09);
    border: none;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th,
td {
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.points {
    font-weight: 600;
}

thead {
    border-radius: 20px 20px 0 0;
    box-shadow: 0 5px 5px 5px rgba(0,0,0,0.09);
}

th {
    color: #1c1c1c;
    padding: 12px 8px;
}

tr:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.view {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    padding: 6px 15px;
    margin: 0 5px;
    background-color: #04a6cf;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 12px;
    font-size: 18px;
    border: 4px solid transparent;
    transition: all 0.3s ease-in-out;
}

.pagination button:hover {
    background-color: transparent;
    color: #000;
    border: 4px solid #04a6cf;
}

.pagination button:disabled {
    background-color: #ccc;
}

.pagination span {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 600;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #f4f4f4;
    border-radius: 15px;
    max-width: 450px;
    width: 100%;
    text-align: center;
}
.modal-header {
    background-color: #04a6cf;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.modal-body {
    padding-top: 15px;
}
.modal-footer {
    padding: 15px;
}
.modal-content h2 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.modal-content button {
    padding: 10px 20px;
    background-color: #04a6cf;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}

.modal-content button:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
}

.modal-body li {
    font-size: 18px;
    padding: 10px 0;
}
.modal-body li img {
    width: 150px;
    height: auto;
}
.point-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #f4f4f4;
    margin-bottom: 14px;
    transition: all 0.3s ease-in-out;
}
.point-list:hover {
    background-color: #04a6cf;
}
.point-list:hover .point-title {
    color: #fff;
}
.point-list:hover .point-count {
    color: #fff;
}
.point-title {
    font-size: 24px;
    font-weight: 600;
}
.redemption-icon img{
    width: 160px;
    height: auto;
}
.point-count {
    font-size: 24px;
    color: #04a6cf;
    font-weight: 600;
}
.redeemption-reward-item.point {
    padding: 20px 20px 0 20px;
}
.filters {
    display: flex;
    justify-content: end;
    padding-bottom: 30px;
}
.filter-category {
    display: flex;
    gap: 10px;
    align-items: center;
}
.filter-by {
    color: #1c1c1c;
    font-size: 18px;
    font-weight: 600;
}
.filters select  {
    border: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 14px;
    color: #1c1c1c;
    letter-spacing: 0.05rem;
}



